In [ ]:
import pandas as pd
import sqlite3

# Load database
db_path = "/content/fitness_planner.db"  # Update this path
conn = sqlite3.connect(db_path)

# Check table structure
df = pd.read_sql_query("PRAGMA table_info(food);", conn)
print(df)

   cid         name  type  notnull dflt_value  pk
0    0  description  TEXT        0       None   0
1    1     calories  REAL        0       None   0
2    2       carb_g  REAL        0       None   0
3    3    protein_g  REAL        0       None   0
4    4        fat_g  REAL        0       None   0

In [ ]:
# Load the food table
df_food = pd.read_sql_query("SELECT * FROM food;", conn)

# Define food categories
veg_items = ['paneer', 'chickpea', 'lentil', 'tofu', 'banana', 'almond', 'peanut', 'rice']
non_veg_items = ['chicken', 'fish', 'egg', 'meat']
vegan_items = ['tofu', 'almond', 'quinoa', 'lentil']

# Function to classify diet type
def classify_diet(food_name):
    name = food_name.lower()
    if any(item in name for item in non_veg_items):
        return "Non-Vegetarian"
    elif any(item in name for item in vegan_items):
        return "Vegan"
    else:
        return "Vegetarian"

# Add diet_type column
df_food['diet_type'] = df_food['description'].apply(classify_diet)

# Save updated table back to the database
df_food.to_sql('food', conn, if_exists='replace', index=False)
print("✅ 'diet_type' column added successfully!")

conn.close()

✅ 'diet_type' column added successfully!

In [ ]:
# Reload and check if 'diet_type' is added
conn = sqlite3.connect(db_path)
df_check = pd.read_sql_query("SELECT * FROM food LIMIT 5;", conn)
print(df_check)
conn.close()

                   description   calories    carb_g  protein_g     fat_g  \
0         Hot tea (Garam Chai)  16.144299  2.581948   0.387886  0.532067
1               Instant coffee  23.155832  3.653333   0.640667  0.746667
2               Espreso coffee  51.543373  6.620505   1.747003  2.138170
3                     Iced tea  10.342188  2.701562   0.027969  0.010937
4  Raw mango drink (Aam panna)  35.918221  9.047467   0.157034  0.026341

    diet_type
0  Vegetarian
1  Vegetarian
2  Vegetarian
3  Vegetarian
4  Vegetarian